.table-hover{
    padding:3px;
    text-align: center;
    border:1px solid #888;  
    -moz-border-radius:3px;  
    -webkit-border-radius: 3px;  
    border-radius:3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-left:10px;
}
.table-hover input[type=text] { width:300px; padding:3px };

ul.sticky_notes{ list-style:none; }

ul.sticky_notes li{
    color: black;
    list-style: none;
    width:240px;
    height:250px;
    padding:20px;
    margin:20px;
    float:left;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);  
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);  
    box-shadow: 5px 5px 7px rgba(33,33,33,.7); 
    -webkit-transform:rotate(-6deg);  
    -o-transform:rotate(-6deg);  
    -moz-transform:rotate(-6deg);  
    font-family: 'Short Stack', cursive;
}

ul.sticky_notes li:nth-child(odd){  
    -o-transform:rotate(4deg);  
    -webkit-transform:rotate(4deg);  
    -moz-transform:rotate(4deg);  
    position:relative;  
    top:5px;  
}  

ul.sticky_notes li:nth-child(2n){  
    -o-transform:rotate(-3deg);  
    -webkit-transform:rotate(-3deg);  
    -moz-transform:rotate(-3deg);  
    position:relative;  
    top:-5px;  
}  

ul.sticky_notes li:nth-child(6n){  
    -o-transform:rotate(5deg);  
    -webkit-transform:rotate(5deg);  
    -moz-transform:rotate(5deg);  
    position:relative;  
    top:-10px;  
}

.yellow{ background:rgb(253, 253, 108); }
.green{ background:rgb(110, 253, 110); }
.blue { background:rgb(165, 165, 248); }
.red{ background:#ee4949; }
.purple{ background:#f579e6; }
.orange{ background:#f19053; }

ul.sticky_notes li:hover{   
    -webkit-transform: scale(1.5);  
    -moz-transform: scale(1.5);  
    -o-transform: scale(1.5);  
    position:relative;  
    z-index:10;  
    -moz-box-shadow:0px 10px 7px rgba(0,0,0,.7);  
    -webkit-box-shadow: 0px 10px 7px rgba(0,0,0,.7);  
    box-shadow:0px 10px 7px rgba(0,0,0,.7); 
    -webkit-transition: all 300ms ease-in 50ms; 
    -moz-transition: all 300ms ease-in 50ms;
    -o-transition: all 300ms ease-in 50ms;
    transition: all 300ms ease-in 50ms;
    cursor:pointer;
} 

.deleteButton:hover
{
    cursor: pointer;
}